# https://labs.consol.de/development/git/2017/02/22/gitignore.html
.bloop/
.idea/
.metals/
.vscode/
target/
*.iml

/node_modules/

/kube/c4_frontend/build
/kube/c5_complex/client/build
/typesafe/tele/cinnamon-prometheus-docker-sandbox-2.14.3/
/typesafe/tele/cinnamon-prometheus-docker-sandbox-2.14.3.zip
