<configuration>
  <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{akkaSource}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1024</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <appender name="STDOUTSLICK" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- EVERYTHING -->
  <logger name="slick"                              level="INFO"/>
  <!-- session -->
  <logger name="slick.session"                      level="INFO"/>
  <logger name="slick.ast"                          level="INFO"/>
  <logger name="slick.compiler"                     level="INFO"/>

  <logger name="slick.jdbc.JdbcBackend.statement"   level="DEBUG"/>
  <logger name="slick.jdbc.JdbcBackend.parameter"   level="DEBUG"/>

  <!-- The first few results of each query -->
  <logger name="slick.jdbc.StatementInvoker.result" level="INFO"/>

  <root level="INFO">
<!--    <appender-ref ref="STDOUT" />-->
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>
